.productcard {
  .product-img {
    min-height: 35rem;
    min-width: 55rem;
    background-position: center;
    background-size: cover;
    position: relative;
    transition: all 0.2s ease;

    &:hover {
      opacity: 90%;
      button {
        opacity: 95%;
      }
    }

    button {
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      opacity: 0;
    }
  }

  .product-data {
    display: flex;
    justify-content: space-between;

    font-size: 1.8rem;
    padding-top: 5px;
  }
}
