.checkout-item {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;

  border-bottom: 1px solid gray;
  font-size: 1.8rem;

  img {
    width: 25rem;
    padding: 1rem 0;
  }

  .checkout-item-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
    // gap: 15rem;

    p {
      width: 10rem;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
