.signin-container {
  justify-items: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;

  max-width: 50rem;
  margin: 0 auto;

  h2 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1.5rem;
  }

  form {
    width: 40rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;

    button,
    input {
      width: 100%;
    }

    .buttons-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}
